<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- util -->
    <package id="7zip.install" />
    <package id="inkscape" />
    <package id="paint.net" />
    <package id="gimp" />
    <package id="winscp.install" />
    <package id="dropbox" />
    <package id="cygwin" />
    <package id="windirstat" />
    <package id="cmder" />
    <package id="googledrive" />
    <package id="crystaldiskinfo" />
    <package id="slack" />
    <package id="winmerge" />
    <package id="cpu-z.install" />
    <package id="eclipse" />
    <package id="pdfxchangeeditor" />
    <package id="visualstudio2017community" />
    <package id="discord.install" />
    <package id="kindle" />
    <package id="teraterm" />
    <package id="qdir" />
    <!-- hobby -->
    <package id="twitch" />
    <package id="steam" />
</packages>
