[Unit]
Description=xremap service

[Service]
# restart periodically
Restart=always
ExecStart=/usr/bin/xremap /home/grugrut/.config/xremap/config.yml
User=root
#Group=root

[Install]
WantedBy=default.target
